body {
    margin: 0;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
* {
 box-sizing: border-box;
}
#content  {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
   display: none;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 170vh;
    color: white;
    background-color: #0069d9;
}
.main-containter {
    margin: 5%;
}
.sidebar-header {
    background-color: darkblue !important;
    color: white;
    height: 60px;
}
.menu-container {
    margin: 5% 0;
}
.text-aling-center {
    text-align: center;
}
a {
    text-decoration: none !important;
    color: black!important;
}
.alig-right {
    text-align: right;
}
/**  INPUTS **/
input {
    height: 45px;
}
.error-text {
    color: red;
}
/**  page title **/
.page-info-title {
  text-align: center;
}

/** IMAGES **/
@media screen and ( max-width: 992px ) {
img.responsive-offer { height:160px; }
img.reponsive-category { height: 260px ;}
img.responsive-product-detail { height: 320px;}
img.caddy-item-image { height: 80%;}

img.caddy-button {
    height: 35px;
    width: 35px;
}

.company-logo {
    height: 50px;
}
.menu-logo {
    width: 50px;
    height: 50px;
}
.footer-help-button {
    height: 50px!important;
    width: 50px!important;
}
   input  {
    height: 60px!important;
    font-size: 2.0em!important;
  }
  h1 {
      font-size: 2em!important;
  }
  h3 {
      font-size: 1.8em!important;
  }
  button, label, h5, b {
    font-size: 1.5em!important;
  }
.font-size-fix {
    font-size: 1em !important;
  }
  .no-show-mobile {
      display: none!important;
  }
  
    .navbar .container-fluid {
        justify-content: center!important;
    }
}
